p.flip
{
	margin:0px;
	padding:3px;
	text-align:center;
	background:#eeeeee;
	border:solid 1px #c3c3c3;
	cursor:pointer;
}
td.panel
{
	margin:0px;
	padding:3px;
	text-align:center;
	background:#eeeeee;
	border:solid 1px #c3c3c3;
	FONT-SIZE: 12px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica;
}
.trimheight {
	margin: 0px 0px;
}